{% include  "header.html" %}
{% if msg %}

{% else %}

<h3 class="h3 h3Colors">All Clients:</h3>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col" class="centerTableCol col5">ID</th>
        <th scope="col" class="centerTableCol">Client Name</th>
        <th scope="col" class="centerTableCol">Email</th>
        <th scope="col" class="centerTableCol">Phone</th>
        <th scope="col" class="centerTableCol">Suburb</th>
        <th scope="col" class="centerTableCol">State</th>
        <th scope="col" class="centerTableCol col10">(modify)</th>
        <th scope="col" class="centerTableCol col10">(delete)</th>
    </tr>
    </thead>
    <tbody>
    {% for cl in all_clients %}
    <tr>
        <td class="centerTableCol">{{ cl.id}}</td>
        <td class="centerTableCol"><a href="/details/{{ cl.id }}">{{ cl.client_name}}</a></td>
        <td class="centerTableCol">{{ cl.email}}</td>
        <td class="centerTableCol">{{ cl.phone}}</td>
        <td class="centerTableCol">{{ cl.suburb}}</td>
        <td class="centerTableCol">{{ cl.get_state_display}}</td>
        <td class="centerTableCol">
            <a href="/modify/{{ cl.id }}">
                <button class="btn btn-warning">Modify</button>
        </td>
        <td class="centerTableCol">
            <a href="/delete/{{ cl.id }}">
                <button class="btn btn-danger">Delete!</button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
{% include "footer.html" %}

